body {
  background-color: #1f1f1f;
}

#log-container {
  font-family: "Jetbrains Mono";
  white-space: pre;
  padding: 10px;
  background: #0f0f0f;
  border-radius: 12px;
  max-height: 300px;
  overflow-y: auto;
}

.log-entry {
  margin: 2px 0;
  padding: 2px;
  color: #fff;
  font-size: 24px;
}
